/* body{
	background-color: #212529;
} */

.row.header{
	height:50px;
	text-align: center;
}


#hashTagRankTitle{
	font-size: 25px;
	text-align:center;
}

.searchArea{
	height: 80px;
}
#searchTitle{
	font-size: 25px;
}
#searchInput{
	width: 300px;
	height: 50px;
}

.shopRank div{
	height: 300px;
	border: 1px solid #f9fafb;
    background-color: #ffbf00;
}
.shopProfile.d-flex{
	width:150px;
	height:150px;
	border:1px solid black;
	border-radius:100%;
}
.shopProfileImg{
	width:100%;
	height:100%;
	border-radius:100%;
}


.shopList div{
	 height: 300px;
	 border: 1px solid #afb7bf;

}

.searchResultArea {
	height: 70px;
	border: 1px solid black;
}
.hashTagResult {
	float:left;
	width: 70%;
	height: 100%;
}
 #searchBtn {
	width: 30%;
    float: right;
    color: #d7aa22;
    border: 1px solid;
    border-color: #41464b;
} 
#searchBtn:hover{
	color: #f9fafb;
	background-color: #ecb61f;
}
.shopScroll{
	color: #41464b;
	font-weight: 800;
}
.rankingTop3{
	color: #41464b;
}
.mb-4{
	color: #41464b;
	font-weight: 800;
}
.shopCrownImg{
	width: 30px;
	margin: 5px;
	position: relative; 
	bottom: 3px;
}
.shopNameImg{
	width: 30px; 
	height: 28px; 
	margin: 3px 5px 0px 0px; 
	padding: 3px; 
	position: relative; 
	bottom: 5px;
}
.shopAddresseImg{
	width: 26px; 
	height: 25px;
	margin: 3px;
	position: relative;
	bottom: 2px;
}
.shopHashTagImg{
	width: 18px; 
	height:17px; 
	margin: 4px 4px; 
	position: relative; bottom: 2px;
}
.shopSearchImg{
	width: 18px; 
	height: 17px; 
	margin: 3px 3px; 
	position: relative; 
	bottom: 3px;
}
.shopRankingImg{
	width: 26px; 
	height: 25px; 
	margin: 3px; 
	position: relative; 
	bottom: 2px;
}
.shopRankingNumberImg{
	width: 30px; 
	height: 28px; 
	margin: 3px 5px 0px 0px; 
	padding: 3px; 
	position: relative; 
	bottom: 5px;
}
