<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="memberEnroll">
		insert into member values
		(#{id}, #{password}, #{name}, #{picture}, #{personalId}, #{accountType}, #{addressFirst}, #{addressSecond}, #{addressThird}, #{addressFull}, #{introduce}, default)
	</insert>


	<update id="updateMember">
	 update member set
	 name = #{name},
	 address_first =  #{addressFirst},
	 <!-- addressSecound = #{addressSecound},
	 addressThrid =  #{addressThird},
	 addressFull =  #{addressFull}, -->
	 introduce = #{introduce} 
	 where 
	 	id = #{id}	
	</update>

     <update id= "updatePersonality">
     update personality
     set
     	personality = #{personality}
     where
     	member_id = #{id}
     </update>
	
	<update id="updateInterest">
	update interest
     set
     	interest = #{interest}
     where
     	member_id = #{id}
	</update>

	<select id="selectPersonality" parameterType="string" resultType="member">
		select *
		from
			personality
		where
			member_id = #{id}
	</select>

	<insert id="insertPersonality">
		insert into
			personality
		(member_id, personality)
		values (#{id}, #{personality}) 
	</insert>

	<insert id="insertInterest">
		insert into
			interest 
			(member_id, interest)
		values (#{id}, #{interest})
	</insert>








</mapper>