@charset "UTF-8";

.group-list .create-group-form-container {
    margin:auto;
    width:500px;
    min-height:1000px;
    border:solid red 1px;
}

/* 페이지 상세 보기 groupPage.jsp /

/* 전체 section */
.group-page-section {
    position: relative; 
    width: 100%; 
    height: 200px;
    margin-bottom : 50px;
}

/* 프로필 사진 미지정시 배경 */
.group-page-image{
    border-radius: 50%; 
    background-color: gainsboro; 
    width: 100px; 
    height: 100px; 
    position: relative; 
    top: 30%; 
    left: 28%; 
    display: inline-block;
}

/* 프로필 사진 지정시 & 미지정시 user 이미지 */
.group-page-image img{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
}

/* 소모임 정보 테이블 */
.group-page-table{
    position: relative; 
    top: 25%; 
    left: 33%; 
    display: inline-block;
}

.group-page-table .td{
    font-weight: bold; 
}

/* 가입 버튼 틀 */
.group-page-enroll-button {
    display:inline-block; 
    position: relative; 
    top : 5%; 
    left: 45%;
}

/* 가입버튼 css */
.enroll-button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.enroll-button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}

.enroll-button:active {
    position:relative;
    top:1px;
}

/* 글쓰기, 일정, 채팅 아이콘 */
.icon{
    text-align: center;
    padding: 60px 0px; 
}

.icon i {
    font-size: 50px;
    color: gray;
    letter-spacing: 70px;
}

/* 그룹 페이지 글 리스트 썸네일 */
ul.group-page-thumbnail {
	list-style: none;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 0;
	padding-left: 0;
}

ul.group-page-thumbnail li img {
	width: 300px;
	height: 300px;
	margin: auto;
}