/* general */

* {
	    font-family:'InfinitySans-RegularA1';
	
}
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
footer p {
    margin-top: 18px;
    font-size: 11px;
    color: #c7c7c7;
    line-height: 18px;
}
.pic {
    border-radius: 100%;
}
span.userID {
    margin-right: 5px;
}
span.sub-span {
    font-size: 12px;
    color: #8e8e8e;
}
span.point-span {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}
/* nav */
nav {
    width: 100%;
    height: 54px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
}
.nav-container {
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
nav div.nav-1, nav div.nav-2 {
    width: 370px;
    display: flex;
    align-items: center;
}
div.nav-2 {
    justify-content: flex-end;
}
nav img {
    height: 22px;
}
.vl {
    height: 22px;
    margin: 0 10px;
    border-left: 1px solid #262626;
}
.logo_instagram_txt {
    height: 30px;
}
.nav-2 img {
    margin-left: 20px;
}
.input-search {
    width: 200px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 38% center;
    text-indent: 10%;
    font-size: 14px;
}
.input-search:focus {
    background-position: 4% center;
    outline: none;
    }
.input-search::placeholder, .input-search:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.input-search:focus::placeholder {
    text-align: start;
}
.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url('../img/cancel.png');
  }
/* main */
main {
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-right {
    width: 310px;
    display: inline-block;
    position: fixed;
    top: 160px;
}
.feeds {
    width: 614px;
    margin-right: 34px;
    display: inline-block;
}
article, .section-story, .section-recommend {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
article {
    margin-bottom: 60px;
}
.section-story, .section-recommend {
    width: 310px;
    padding: 14px 16px;
    overflow-y: hidden;
}
.section-story {
    height: 212px;
    margin-bottom: 20px;
}
.section-recommend {
    overflow-y: auto;
    height:300px;
    
}
/* article */
header#mainheader {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-of-article {
    display: flex;
    align-items: center;
}
.img-profile {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
 .main-image img {
    width: 612px;
}
.main-id {
    margin-left: 14px;
}
.icon-more {
    justify-self: end;
}
.icons-react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-react {
    width: 24px;
    height: 24px;
}
.icons-left {
    display: flex;
    align-items: center;
}
.icons-left .icon-react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    padding: 0 16px;
}
/*display flex였음*/
.liked-people {
    display: table;
    align-items: center;
    height: 18px;
    margin: 2px 0 8px 0;
}
.liked-people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked-people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}
.description {
    display: flex;
    align-items: center;
    height: 18px;
}
span.at-tag {
    color: #00376B;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
img.comment-heart {
    width: 12px;
    height: 12px;
}
div.time-log {
    margin-bottom: 8px;
}
div.time-log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
    width: 612px;
}
/* comment input */
.input-comment {
    font-size: 14px;
    width: 560px;
    height: 18px;
    padding: 28px 16px;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
}
.input-comment:focus {
	outline: none;
}
.input-comment::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}
.submit-comment:disabled {
    color: #B9DFFC;
}
button.submit-comment:focus {
    outline: none;
}
/* main-right */
.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div span.userID {
    margin-bottom: 4px;
}
/* story & recommendation */
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.sub-title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.find-more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.story-list li, .recommend-list li {
    display: flex;
    align-items: flex-start;
}
ul.story-list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
}
div.gradient-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}
ul.story-list .profile-text {
    margin-top: 3px;
}
.profile-text {
    display: inline-block;
    margin: 0 0 10px 8px;
}
.profile-text span {
    display: block;
}
.profile-text span.userID {
    margin-bottom: 2px;
}
.recommend-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn-follow {
    padding-top: 7px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}
.recommend-friend-profile {
    display: flex;
    align-items: flex-start;
}
.main-header-comment{
	width: 580px;
	display: inline-block;
}




li{ list-style-type: none; } 

/* 보여줄 구간의 높이와 넓이 설정 */ 
#slideShow0{ 
	width: 614px; 
height: 402px; 
position: relative; 
margin: auto; 
overflow: hidden; 

/*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/ } 
.slides0{ 
	position: absolute; 
	left: 0; 
	top: 0;
	 width: 614px; 
	 /* 슬라이드할 사진과 마진 총 넓이 */ 
	 transition: left 0.5s ease-out; 
	 /*ease-out: 처음에는 느렸다가 점점 빨라짐*/ 
	 } 
/* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */ 
/* .slides li:first-child{ margin-left: 100px; }  */
/* 슬라이드들 옆으로 정렬 */ 
.slides0 li:not(:last-child){ float: left; margin-right: 100px; } 
.slides0 li{ float: left; } 
.controller0 span{ position:absolute; background-color: transparent; color: black; text-align: center; border-radius: 50%; padding: 10px 20px; top: 50%; font-size: 1.3em; cursor: pointer; }


.controller0 span{ 
	position:absolute; 
	background-color: 
	transparent; 
	color: black; 
	text-align: center; 
	border-radius: 50%; 
	padding: 10px 20px; 
	top: 50%; 
	font-size: 1.3em; 
	cursor: pointer; 
	
	} 
	

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */ 
.controller0 span:hover{ 
	background-color: rgba(128, 128, 128, 0.11); } 
	.prev{ left: 10px; 
	} 
/* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/ 
.prev0:hover{ 
	transform: translateX(-10px); 
	} 
.next0{ 
	right: 10px; 
	} 
/* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/ 
.next0:hover{ 
	transform: translateX(10px); 
	}

@font-face {
    font-family:'InfinitySans-RegularA1';
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff%27') format('woff');
    font-weight:normal;
    font-style:normal;
}
