@charset "UTF-8";

.search-box-container {
	position:absolute;
	width:20%; height:35%; background:white; left:45%; 	transform: translate(-50%, 0); 
 	border-radius:50px;
}
.search-box-container-row {width:100%; height:70%; margin:10px; }
#select-box:focus{outline:none;}
#select-box{height:100%; border:none; color:gray;}
.select-box-container {border-right:1px solid gray;}
#search-box:focus{outline:none;}
#search-box {border:none; height:100%; width:100%; background:none;}
#searchResultBox {
	top:9em;
	left:50%;
	transform: translate(-50%, 0); 
	position:absolute; 
	display:none; 
	background:white;
	border:2px solid gray; 
	border-radius:20px;
	width:500px; 
	height:600px;
	overflow:auto;
	z-index:10;
	
}
#content-box {
	width:70%;
	min-height:100%;
	padding:50px 0px;
	margin:auto;
}
#content-box img {
	width:70px;
	height:70px;
	float:right;
}
.row-box {
	margin-bottom:20px;
}
.row-box:hover {
	cursor:pointer;
}
.memberId, .groupId, .locationName{
	margin-top:7px;
	font-size:1.15em;
	font-weight:600;
}
.memberName, .groupName, .locationAddress{
	font-size:1.15em;
}