<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<select id="roomList" resultType="chatroom">
		select 
		distinct room_no, member_id 
		from chat 
		where room_no in (select distinct room_no from chat where member_id = #{id}) 
		and 
		member_id != #{id}
	</select>
	
	<select id="roomchat" resultType="chat">
	select
		*
	from
		chat
	where room_no = #{no}
	</select>

</mapper>