<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<select id="roomList" resultType="chatroom">
	select 
		* 
	from 
		chat_room 
	where members like '%' ||  #{id} || '%'
	</select>
		
		<select id="roomchat2" resultMap="chatMap">
	select 
		c.*, m.picture 
	from 
		chat c left join member m 
		on c.member_id = m.id 
	where 
		c.room_no = #{no} 
		order by c.message_reg_date
	</select>
	
	<resultMap type="map" id="chatMap">
		<id column="room_no" property="roomNo"/>
		<result column="member_id" property="memberId"/>
		<result column="message" property="message"/>
		<result column="message_reg_date" property="messageRegDate"/>
		<result column="unreadcount" property="unreadcount"/>
		<result column="picture" property="picture"/>
	</resultMap>
	
	<select id="selectChatRoom" resultType="chatroom">
	select 
		* 
	from
		chat_room
	where
		room_no = #{roomNo}
	</select>
	
	<select id="searchPicture" resultType="string">
	select
		picture
	from 
		member
	where
		id = #{member}
	</select>
	
	<insert id="insertMessage">
	INSERT 
		INTO 
	CHAT 
		VALUES(#{roomNo}, #{memberId}, #{message}, default, default)
	</insert>
	<select id="memberList" resultType="member">
	select
		*
	from
		member
	</select>
	
	<select id="memberList2" resultType="member">
	select
		*
	from
		member
	where id like '%' ||  #{value} || '%' or name like '%' ||  #{value} || '%'
	</select>
	
	<select id="chatRoomCheck" resultType="chatroom">
	select 
		* 
	from 
		chat_room 
	where 
		members like '%' ||  #{loginId} || '%' and members like '%' ||  #{memberId} || '%'
		and room_type = 0
	</select>
	<insert id="createChatRoom">
	insert 
		into 
	chat_room 
		values(
		seq_chatroom_no.nextval,
		default,
		default,
		default,
		#{members},
		default
		)
	</insert>
	<insert id="insertEnterMessage">
	insert
		into
	chat
		values(#{roomNo},#{loginId},'ROOMENTER',default,default)
	</insert>
	
	<insert id="insertEnterMessage2">
	insert
		into
	chat
		values(#{roomNo},#{memberId},'ROOMENTER',default,default)
	</insert>
	
	<select id="findRoomNo" resultType="_int">
	select
		room_no
	from
		chat_room
	members like '%' ||  #{loginId} || '%' and members like '%' ||  #{memberId} || '%'
	</select>
	<select id="selectOneChatRoom" resultType="chatroom">
	select
		*
	from
		chat_room
	where room_no = #{no}
	</select>
	<insert id="CreateGroupChat">
	insert
		into
	chat_room
		values(
		seq_chatroom_no.nextval,
		#{groupName},
		1,
		#{groupId},
		#{leaderId},
		#{image}
		)
	</insert>
	<delete id="exitRoom">
	delete
		from
	chat_room
		where room_no = #{roomNo}
	</delete>
	

</mapper>