<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testsecurity">

<!-- 일단 하나만 -->
	<select id="selectListBoard" resultType="groupBoard">
select
 *
 from(
 		select
         row_number() over(order by g.reg_date desc) rnum,
			g.*,
			m.picture writer_profile
		from
			group_board g join member m
			on g.writer = m.id
		where
			g.group_id in ( select group_id from group_member_list where member_id = #{memberId})
) where rnum <![CDATA[<=]]> 2
	</select>

</mapper>