<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
    <select id="selectShopList" parameterType="map" resultType="map">
        select
            *
        from
            shop_info
        where
            location_x <![CDATA[<]]> ${maxLocationX}
            and
            location_y <![CDATA[<]]> ${maxLocationY}
            and
            id != #{id}
    </select>
    <insert id="insertHashTag" parameterType="hashtag">
        insert into
            hashtag
        values(concat(#{tagId}, seq_hashtag.nextval), #{tagName})
    </insert>
    
    <select  id="selectHashTagList" resultType="hashtag">
        select 
            tag_name 
        from
            hashtag 
        where 
            tag_name like #{search} || '%'
    
    </select>
    
    <insert id="insertShopTable" parameterType="table">
    	insert into shop_table_setting
    	values(#{shopId}, #{tableName}, #{allowVisitor}, #{allowStart}, #{allowEnd}, #{timeDiv}, #{timeMax}, #{memo}, #{enable})
    </insert>
    
    <select id="verifyTableName" parameterType="string" resultType="string">
    	select
    		table_name
   		from
   			shop_table_setting
  		where
  			table_name = #{tableName}	
    </select>
    
    <select id="selectShopTableList" parameterType="string" resultType="table">
    	select
    		*
   		from
   			shop_table_setting
		where
			shop_id = #{id}
		order by
			table_name
    </select>
    
    <delete id="deleteShopTable" parameterType="string">
    	delete from
   			shop_table_setting
		where
			table_name = #{tableName}
    </delete>
    
    <update id="updateShopTable" parameterType="table">
    	update shop_table_setting
    	set
    		<if test="tableName != null">		
    		table_name = #{tableName},
    		</if>
    		allow_visitor = #{allowVisitor},
    		allow_start = #{allowStart},
    		allow_end = #{allowEnd},
    		time_div = #{timeDiv},
    		time_max = #{timeMax},
    		memo = #{memo},
    		enable = #{enable}
    	where
    		shop_id = #{shopId}
    		and
    		table_name = #{tableName}
    </update>
    
    <select id="selectOneTable" parameterType="table" resultType="string">
    	select
    		table_name
   		from
   			shop_table_setting
  		where
  			shop_id = #{shopId}
  			and
  			table_name = #{tableName}
    </select>
</mapper>