@charset "UTF-8";

 
	#multiple-container {
	    display: grid;
	    grid-template-columns: 1fr 1fr  ;
	}
	.image {
	    display: block;
	    width: 100%;
	}
	.image-label {
	    position: relative;
	    bottom: 22px;
	    left: 5px;
	    color: white;
	    text-shadow: 2px 2px 2px black;
	}
	#myInfo{
		border: 1px solid black;
	}
	#profileImg{
		height: 400px;
	}
	#profileStatus{
		height: 400px;
	}
	/* 세팅 버튼 */
	#settingBtn {
		float: right;
		height:50px;
		width: 50px;
		border-radius: 100%;
		border: none;
		margin-top: -60px;
	}
	#settingBtn img {
		width: 130%;
	}
	/* 친구추가 버튼 */
	#addFriendBtn {
		float: right;
		height:50px;
		width: 50px;
		border-radius: 100%;
		border: none;
		margin-top: -60px;
	}
	#addFriendBtn img {
		width: 130%;
	}
	
	/* 프로필이미지 */
	.profileImg.d-flex{
		width:230px;
		height:230px;
		border:1px solid black;
		border-radius:100%;
		background-color: red;
	}
	.profileImg img {
		width: 100%;
		border-radius: 100%;
	}
	.profileBtn{
		width: 50px;
		height: 50px;
		border-radius:100%;
		transform: translateX(80px) translateY(-50px);
		z-index: 1;
	}
	.extraSet{
		border-radius:100%;
		background-color: white;
	}
	.input-file-button:hover{
		cursor: pointer;
	}
	.profileBtn img {
		width: 100%;
		border-radius: 100%;
	}

	/* 프로필정보 */
	.follow {
		display: inline-block;
		width: 100px;
		height: 30px;
		border: 1px solid black;
	}
	.followCount{
		display: inline-block;
		width: 100px;
		height: 30px;
		border: 1px solid black;
	}
	#profileTable{
		width: 100%;
		table-layout:fixed;
	}
	.tableKey{
		width: 20%;
		font-size: 16px;
		padding-bottom : 6px;
	}
	.tableValue{
		width: 80%;
		font-size: 18px;
		padding-bottom : 6px;
	}
	tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    font-size: 16px;
    padding-bottom : 6px;
}
	pre{
		margin:0;
	}
	#textArea{
		width: 100%;
		height: 150px;
		border: none;
		resize: none;
		background-color: white;
		padding-top: 30px;
		font-size:16px;
	}
	
	/* thumbnail list */
	.thumbnail{
		height: 300px;
		border: 1px solid black;
		padding: 5px;
	}
	.thumbnail img{
		width: 100%;
	}
	
	#a {
    color: black;
    text-decoration: none;
}
.btn-secondary.save {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
    width: 90px;
    font-size: 15px;
    margin-left : 450px;
}
.btn-secondary {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
    width: 90px;
    font-size: 15px;
    margin-left : 20px;
}
.tableKey {
    width: 17%;
    font-size: 16px;
    padding-bottom: 1px;
    font-weight: 700;
    margin-left: 10px;
}
.tableValue {
    width: 80%;
    font-size: 20px;
    padding-bottom: 6px;
}
.followTitle {
    font-size: 15px;
}
#settingBtn img {
    width: 130%;
    
}
.thumbnail {
    height: 300px;
    border: 1px solid white;
    padding: 5px;
}
#boardContent {
    width: 450px;
    height: 400px;
    border-radius: 10px;
    border-color: gray;
    border-bottom-color: gray;
}
.private{
    margin-left: 450px;
    margin-top: 30px;
    margin-bottom: -13;
 }
.btn-danger {
    color: #fff;
    background-color: black;
    border-color: black;
    margin-left: -40px;
    margin-top: 10px;
   }
.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: black;
    margin-top: 10px;
}
.section-over-div {
    min-height: 160vh;
 }
#reportBtn {
    color: white;
    border-color: black;
    background-color:#ff000078;
    margin-top: -100px;
    margin-left: 153px;
}
#myInfo {
    border: none;
    border-bottom: solid;
    border-color: gray;
    border-bottom-width: unset;
}
.tableKey {
    width: 17%;
    font-size: 15px;
    padding-bottom: 1px;
    font-weight: 700;
    margin-left: 10px;
}
.tableValue {
    width: 80%;
    font-size: 15px;
    padding-bottom: 6px;
}
 .btn-submitContent{font-weight:bold;color:#384fc5c4;background-color:white;border:none;float:right;}
.btn-boardModify{font-weight:bold;color:#8080808a;background-color:white;border:none;float:right;}
.btn-reply{font-weight:bold;color:#8080808a;background-color:white;border:none;float:right;}
input[type="submit"] {font-weight:bold;color:#384fc5c4;background-color:white;border:none;float:right;}
.btn-deleteBoard {font-weight:bold;color:#f44336bd;background-color:white;border:none;}
textarea::placeholder {color:gray; font-size: 1.1em;}
.level2 td:nth-child(1),.level2 td:nth-child(2){padding-left:13px;}
.btn-boardCommentDelete {padding-left:5px;color:#8080808a;font-weight:bold;}
.btn-boardCommentDelete:hover {cursor:pointer;}
#textareaComment { height:100px;border:none;width:100%;resize:none; }
textarea:focus { outline:none; }
 
        